.btn.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

dl dt {
  margin-bottom: 2px;
}
dl dd {
  margin-bottom: 2px;
}

.menuTable{
  color: white;
  width: 650%;
	background-color: rgba(10,10,10,.65);
  margin: auto;
  border: double 10px palevioletred ;
  padding: 12px;
  border-radius: 3px;
}
.menuItem{
  border: 3px solid turquoise;
  font-family: "Georgia", serif;
  font-size: 23px; 
}
.title{
  font-family: "Georgia", serif;
  font-size: 50px;
  text-decoration: underline;
}

.order{
  background-color: turquoise;
  color: white;
  font-family: "Georgia", serif;
  font-size: 23px;
  padding: 8px;
}
